/* global styles */
* { margin: 0; }

header, section, footer {
    padding-top: 3em;
    padding-bottom: 3.5em;
}

header {
    padding-top: 9.375em;
    padding-bottom: 9.375em;
    color: rgb(255, 255, 255);
    background-image: url(Crime-image.jpg);
    background-size: cover;
    margin-bottom: -3.125em;
}

header h1 {
    position: absolute;
    top: 0.5em;
    left: 5em;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    font-size: 3.125em;
    text-transform: uppercase;
    line-height: 1.875em;
}

header h2 {
    position: absolute;
    top: 6em;
    left: 16em;
    margin-right: 6.25em;
    text-align: center;
}

header p{
    position: absolute;
    top: 22.5em;
    left: 10em;
    text-align: center;
    width: 43.75em;
    line-height: 1.875em;
}

/*font style*/
h1 {
    text-shadow: 0 0.0625em 0.625em black;
}

header h2 {
    color: rgb(98, 233, 157);
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0.0625em 0.3125em black;
}

header p {
    font-family: 'Itim', cursive;
    font-size: 1.25em;
}

#Map {
    
    margin-top: 3.125em;
    background-color: #EDF5FF
}

#Map h2 {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0.0625em 0.3125em rgb(131, 128, 128);
    margin-left: 6.25em;
    font-style: italic;
    font-size: 1.875em;
}

#Map p{
    column-count: 2; 
    column-gap: 5em; 
    margin-top: 3.125em;
    font-size: 1.25em;
    margin-left: 9.375em;
    margin-right: 9.375em;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}



#linechart h2 {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0.0625em 0.3125em rgb(131, 128, 128);
    margin-left: 6.25em;
    font-style: italic;
    font-size: 1.875em;
}

#linechart p {
    position: relative;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    left: 13.25em;
    top: 3.125em;
    width: 69%;
    font-size: 1.25em;
}

#linechart {
    background-color: #FFD8B1;
    padding-bottom: 5em;
}

#barchart h2 {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0.0625em 0.3125em rgb(131, 128, 128);
    margin-left: 6.25em;
    font-style: italic;
    font-size: 1.875em;
}

#barchart p{
    column-count: 2; 
    column-gap: 5em; 
    margin-top: 2em;
    font-size: 1.25em;
    margin-left: 9.375em;
    margin-right: 9.375em;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

#scatterplot h2 {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0.0625em 0.3125em rgb(131, 128, 128);
    margin-left: 6.25em;
    font-style: italic;
    font-size: 1.875em;
}

#barchart {
    margin-bottom: -4.6875em;
    background-color: #EDF5FF
}

#scatterplot p {
    position: relative;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    left: 13.25em;
    top: 6.25em;
    width: 76%;
    font-size: 1.25em;
    width: 69%;
}

#scatterplot {
    margin-top: 3.65625em;
    background-color: #FFD8B1;
    padding-bottom: 18.75em;
}

#donutchart{
    margin-top: -1.25em;
    background-color: #EDF5FF;
    padding-bottom: 7em;
}

#donutchart h2 {
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0.0625em 0.3125em rgb(131, 128, 128);
    margin-left: 6.25em;
    font-style: italic;
    font-size: 1.875em;
}

#donutchart p {
    position: relative;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    left: 13.25em;
    top: 3.25em;
    width: 76%;
    font-size: 1.25em;
    width: 69%;
}
